/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url('../../images/bgbody_top.jpg');
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-body;
  background-color: #FCF3EA;
  
}

img {
  max-width: 100%;
  height: auto;
}
.container{
  width: $width-container;
  padding: 0 50px !important;
}
.container-fluid{
  width: 1400px;
  margin: 0 auto !important;
}

.time-options{
  position: fixed;
  right: -52px;
  z-index: 999;
  top: 40%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transform: rotateZ(-90deg);
  padding: 5px 10px;
  background-color:#0A472E;
  a{
    color: #fff;
    text-decoration: none;
  }
}

.up__case{
  padding: 5px 10px;
  background-color: $hover-text;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 43px;
  font-size: 20px;
  border-radius: 50%;
  transition: all ease 0.5s;
  .bx{
    transform: translateY(3px);
  }
  &:hover{
    background-color: #000;
    .bx{
      color: #fff;
      transition: all ease 0.5s;
      
    }
  }
}




@media screen and (max-width: 576px) {
  .up__case{
    padding: 5px 10px;
    background-color: $hover-text;
    color: #fff;
    position: fixed;
    bottom: 65px;
    right: 43px;
    font-size: 20px;
    border-radius: 50%;
    transition: all ease 0.5s;
    
    .bx{
      transform: translateY(3px);
    }
    &:hover{
      background-color: #000;
      .bx{
        color: #fff;
        transition: all ease 0.5s;
        
      }
    }
  }
  
}