// COLORS
$color-primary: #555;
$bg-pink:#EBE1DB;
// Container
$width-container: 1460px;
$p-container: 70px;

// FONTS
$font-body:'Mazzard Soft H', sans-serif;
$font-stack: 'Arial', sans-serif;
$hover-text: #9BAC47;