// COLORS
$color-primary: #555;
$bg-pink:#EBE1DB;
$green-color:#1C6C4C;
// Container
$width-container: 1370px;
$p-container: 70px;


// FONTS
$font-body:'Mazzard Soft H', sans-serif;
$font-stack: 'Arial', sans-serif;
$hover-text: #9BAC47;