/* CONTAINER */
.container {
  width: 100%;
  max-width: $width-container;
  padding-left: $p-container !important;
  padding-right: $p-container !important;
  margin-left: auto;
  margin-right: auto;
}
