
.hero__main{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.hero__carousel{
    max-width: 850px;
    height: 650px;
}
.carousel-item{
    position: relative;
}
.hero__title {
    z-index: 99;
    position: absolute;
    left: 100px;
    top: 30%;
    display: flex;
    flex-direction: column;
    .text-box__minititle {
        font-size: 24px;
        line-height: 24px;
        color: #bac34e;
    }
    .text-box__title {
        font-size: 40px;
        line-height: 45px;
        color: #0a472e;
        font-family: "Mazzard Soft H";
        font-weight: 400;
    }    
}
.text-box__link{
    color: #000;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.bx-chevrons-right {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.hero__double{
    display: flex;
    flex-direction: column;
    .hero__double-img1{
        position: relative;
        max-width: 410px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .hero__double-img2{
        position: relative;
        max-width: 410px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .hero__double-box{
        position: absolute;
        top: 20%;
        left: 10%;
        h4{
            font-size: 24px;
            line-height: 30px;
            color: #0a472e;
            margin-bottom: 20%;
        }
    }
    .second-double-box{

    }
}



@media screen and (max-width: 992px){
    .container{
        max-width: 960px;
    }
    .hero__main{
        align-items: center !important;
        flex-direction: column;
        
        .carousel-inner{
            align-items: center;
            justify-content:center;
            
        }
    }
    .hero__double{
        // justify-content: center;
        // align-items: center;
        display: flex;
        flex-direction: row;
        gap: 34px;
        
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 720px;
    }
    .hero__main{
        flex-direction: column;
    }
    .hero__carousel{
        height: 529px !important;
    }
    .hero__double{
        justify-content: center;
        display: flex;
        flex-direction: column;
        .hero__double-img1{
            max-width: 100%;
            img{
                width: 100vw;
                object-fit: cover;
                object-position: 50% 50%;
                height: 50vh;
            }
            
        }
        .hero__double-img2{
            max-width: 100%;
            img{
                height: 30vh;
                object-fit: cover;
                object-position: 50% 50%;
                height: 30vh;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .container{
        max-width: 540px;
    }
    .hero__carousel{
        height: 350px !important;
    }
    .hero__double{
        justify-content: center;
        display: flex;
        flex-direction: column;
        .hero__double-img1{
            max-width: 100%;
            img{
                width: 100vw;
                object-fit: cover;
                object-position: 50% 50%;
                height: 25vh;
            }
            
        }
        .hero__double-img2{
            max-width: 100%;
            img{
                object-fit: cover;
                object-position: 50% 50%;
                height: 25vh;
            }
        }
    }

}